<!DOCTYPE html>
<html>
<head>
  <title>Sample core</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "sample/core/application", media: "all" %>
  <%= javascript_include_tag "sample/core/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
